.tags .tags-list {
    overflow: hidden;
    line-height: 1.5em;
    padding: 0;
}

.tags ul {
    list-style: none;
}

.tags .tag {
    display: block;
    padding-left: .6em;
    padding-right: .6em;
    line-height: inherit;
    font-weight: normal;
    background: #d0d0d0;
    color: #525252;
    box-shadow: 1px 1px 1px;
}
.tags .tag:hover {
    color: white;
    background: #228896;
    text-decoration: none;
    text-shadow: 0 1px rgba(0,0,0,0.15);
    outline: none;
}
.tags-list>li {
    float: left;
    margin: 0 .8em .8em 0;
}

.main-page-content p{
    margin-bottom: 0;
}
#fh5co-aside{
    height: 100%;
}